html {
    background-color: purple;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}


.to-do {
    margin-left: 650px;
    margin-top: 30px;
    position: absolute;
}

.to-do-input {
    width: 300px;
    height: 20px;
}


.to-do-btn {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    height: 25px;
    cursor: pointer;
}



.clock {
    color: white;
    margin-left: 40px;
    margin-top: -50px;
    position: absolute;
    font-size: 25px;
    border: 2px solid black;
}



.to-do-out {
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: white;
    text-align: center;
}

